<h4>Formularios <small> Reactivos </small></h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)=save();>

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Name</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Name" formControlName="name" [class.is-invalid]="noValidName" [class.is-valid]="validName">
                <small *ngIf="noValidName" class="text-danger">A least 5 letters</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Lastname</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Lastname" formControlName="lastname" [class.is-invalid]="noValidLastname" [class.is-valid]="validLastname">
                <small *ngIf="noValidLastname" class="text-danger">A least 5 letters</small>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Email</label>
        <div class="col-8">
            <input class="form-control" type="email" placeholder="Email" formControlName="mail" [class.is-invalid]="noValidMail" [class.is-valid]="validMail">
            <small *ngIf="noValidMail" class="text-danger">No valid email</small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Username</label>
        <div class="col-8">
            <input class="form-control" type="text" placeholder="Username" formControlName="user" [class.is-invalid]="noValidUser" [class.is-valid]="validUser">
            <small *ngIf="noValidUser" class="text-danger">User not valid</small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Password</label>
        <div class="col-8">
            <input class="form-control" type="password" placeholder="Password" formControlName="pass1" [class.is-invalid]="noPass1Valid" [class.is-valid]="validPass1">
            <small *ngIf="noPass1Valid" class="text-danger">No valid password</small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Confirm password</label>
        <div class="col-8">
            <input class="form-control" type="password" placeholder="Confirm password" formControlName="pass2" [class.is-invalid]="noPass2Valid">
            <small *ngIf="noPass2Valid" class="text-danger">Passwords do not match </small>
        </div>
    </div>
    <div formGroupName="address">
        <div class="form-group row">
            <label class="col-2 col-form-label">State</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="State" formControlName="state" [class.is-invalid]="noValidState" [class.is-valid]="validState">
                <small *ngIf="noValidState" class="text-danger">Required field</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">City</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="City" formControlName="city" [class.is-invalid]="noValidCity" [class.is-valid]="validCity">
                <small *ngIf="noValidCity" class="text-danger">Required field</small>
            </div>
        </div>
    </div>
    <div class=" row mt-5">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <th>ID</th>
                    <th>Hobbie</th>
                    <th>Delete</th>
                </thead>
                <tbody formArrayName="hobbies">
                    <tr *ngFor="let control of getHobbies.controls; let i = index;">

                        <td>{{i+1}}</td>
                        <td>
                            <input type="text" class="form-control" [formControlName]="i">
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" (click)="deleteHobbie(i);">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary mt-3 mb-5" (click)="addHobbie();"> + Add hobbie</button>
        </div>
    </div>



    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>

</form>
<hr>

<pre>
    Form valid   {{forma.valid}}
    <br>
    Status form {{forma.status}}
</pre>
<pre>
    {{forma.value | json}}
</pre>